.vscode
.settings

toolchain/build
toolchain/temp
toolchain/ndk
output
!.idea/runConfigurations
**/__pycache__
**/tsconfig.json

*.log
*.icmod

core-engine.d.ts
android.d.ts
android-declarations.d.ts
preloader.d.ts

android.jar
horizon.jar
innercore.jar

toolchain/adb
toolchain/bin

toolchain/stdincludes/horizon
toolchain/stdincludes/gnustl/**
!toolchain/stdincludes/gnustl/.placeholder

toolchain/*.bat
toolchain/python